<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Coding Resourses</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Javascript</a>
          </li>
          <li>
            <a href="#!">TypeScript</a>
          </li>
          <li>
            <a href="#!">React</a>
          </li>
          <li>
            <a href="#!">Angular</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Css Resources</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Css</a>
          </li>
          <li>
            <a href="#!">SCSS</a>
          </li>
          <li>
            <a href="#!">Bootstrap</a>
          </li>
          <li>
            <a href="#!">Materialize</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Whiteboard Pros</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Site GitHub</a>
          </li>
          <li>
            <a href="#!">Learn More</a>
          </li>
          <li>
            <a href="#!">About Us</a>
          </li>
          <li>
            <a href="#!">Submit Questions</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Additional Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">LFZ</a>
          </li>
          <!-- <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li> -->
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://rogerenand.com/"> rogerenand.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
