<div class="">
  <div class="container-fluid vh-100">
    <div>
      <!-- <p-menubar styleClass="bg-transparent" [model]="items"></p-menubar> -->
    </div>
    <div class="row h-100">
      <div class="col-md-4 offset-md-2 col-sm-12 h-100">
        <div class="text-center d-flex justify-content-center align-items-center flex-column h-100">
          <div class="title">Whiteboard Wizards</div>
          <div class="sub-title">Take Your Interviewing Skills To The Next Level</div>
          <div class="sub-title">Practice Interview Questions And Whiteboard Problems</div>
        <button pButton [routerLink]="'/resources'" type="button" label="Become A Wizard Today"
            class="p-button-raised p-button-rounded p-button-info p-button-lg mt-5"></button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 h-100 hide-on-sm">
        <div class="d-flex justify-content-start align-items-center h-100">
          <img class="home-image" src="../../../assets/images/magician-wizard-cartoon-illustration-isolated-magic-book-33030907.jpg" alt="Magical Wizard">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid min-vh-100 bg-whiteboard pb-5">
    <div class="row pt-5">
      <div class="col-12 d-flex justify-content-center flex-column">
        <div class="d-flex justify-content-center">
          <h2>What do we offer?</h2>
        </div>
        <div class="col-md-8 offset-md-2 col-xs-12">
          <p>We offer a simple and easy way for an aspiring tech coder like you to practice interviews so you can land the
            job you deserve.</p>
          <p>You can practice whiteboarding to improve and master your skills or you can even find questions that many
            interviewers may ask you. You can go into your interview ready and prepared so you can land the job and begin or
            continue your career as a developer</p>
          <p class="mt-1">This site is designed by a developer for develpers to help you further in the field you love.</p>
        </div>
      </div>
    </div>
  <div class="row">

    <div class="col-md-4 offset-md-2 col-xs-12">
      <p-card styleClass="mt-5 card-height">
        <div class="container">
          <div class="d-flex justify-content-center">
            <h2>Whiteboard Practice</h2>
          </div>
          <p class="mt-3">Got An Interview Coming Up? Run through some practice whiteboard interview questions. See what interviewers may ask and prepare.</p>
          <p>No Interviews Yet, No Worries. Get ahead of the game to beat out your fellow future applicants with preperation.</p>
          <p>Just Wish To Improve Your Skills? Whether or not you have any interviews, pracice is always good. It helps you improve and keep your mind sharp. You may even learn something you dont know.</p>
          <h4>Challenge Yourself! Practice Some Questions Today!</h4>
          <div class="d-flex justify-content-center">
            <button pButton type="button" label="Get Started For Free"
              class="p-button-raised p-button-rounded p-button-success p-button-lg mt-2"></button>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-md-4 col-xs-12">
      <p-card styleClass="mt-5 card-height">
        <div class="container d-flex justify-content-between flex-column h-100">
          <div>
            <div class="d-flex justify-content-center">
              <h2>Interview Practice</h2>
            </div>
            <p class="mt-3">Unsure what the interviewers want from you? Find the information on the latest trends that interviewers are asking.</p>
            <h4>Get Ahead Of The Game! Find Out What You Need To Know!</h4>
          </div>
          <div class="d-flex justify-content-center">
            <button pButton type="button" label="Get Started For Free"
              class="p-button-raised p-button-rounded p-button-success p-button-lg mt-2"></button>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center flex-column">
      <div class="d-flex justify-content-center">
        <h2>Student Of LFZ?</h2>
      </div>
      <div class="col-md-8 offset-md-2 col-xs-12">
        <p>Are You A Student Of Learning Fuze?</p>
        <p>CONGRATS! I was too! I graduated in December 2019 in cohort 0919! My name is Roger Enand and with the help of the knowledge I gained from LFZ, I was able to create this site, and many other projects.</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
 -->
