<div class="{{themeColor}}">
  <div class="container-fluid vh-100">
    <div>
      <!-- <p-menubar styleClass="bg-transparent" [model]="items"></p-menubar> -->
    </div>
    <div class="row pt-5">
      <div class="col-12 h-100">
        <div class="text-center d-flex justify-content-center align-items-center flex-column h-100">
          <div class="title">Whiteboard Wizards</div>
          <div class="sub-title">Practice Your Magical Interview Powers</div>
        </div>
      </div>
    </div>
    <div class="row h-50 mt-5 d-flex justify-content-center align-items-center text-center">
      <div class="row col-12 d-flex justify-content-center">
        <h1 class="text-center">WHAT TYPE OF WIZARD ARE YOU</h1>
      </div>
      <div class="col-md-6 col-sm-12 br pb-3 clickable" (click)="redirect()">
        <!-- <a class="wizard-link" href="!#"> -->
          <div class="scale-hover" (mouseenter)="setTheme('light-theme light-theme-primeng')">
            <h1 class="select-wizard">LIGHT WIZARD</h1>
            <!-- <h4>(Whiteboard Wizard)</h4> -->
          </div>

        <!-- </a> -->

      </div>
      <div class="col-md-6 col-sm-12 clickable" (click)="redirect()">
        <!-- <a class="wizard-link" href="!#"> -->
          <div class="scale-hover" (mouseenter)="setTheme('dark-theme dark-theme-primeng')">
              <h1 class="select-wizard">DARK WIZARD</h1>
              <!-- <h4>(Interview Wizard)</h4> -->
          </div>
        <!-- </a> -->
      </div>

    </div>
  </div>
</div>


<!-- <app-footer></app-footer> -->
