<div class="d-flex justify-content-between flex-column vh-100">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="container-fluid d-flex align-items-center justify-content-center flex-column">
        <div><h1>404</h1></div>
        <div>This Page Is In Debug Mode</div>
        <div>Don't Worry, The Devs Are On It</div>
        <div>To Reduce Our Work Load, Make Sure You Are Trying To Get To The Right Page</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
